.header {
  background: $secondary-color;
  padding: 1rem;
  display: flex;
  justify-content: center;
  @include respond(big-phone) {
    padding-left: 3rem;
    justify-content: flex-start;
  }
  &__brand {
    width: 10rem;
    height: 4.3rem;
  }
  &__brand-img {
    width: 100%;
  }
}