.phones {
  &__item {
    margin-bottom: 1rem;
    @include abs-midle-aling;
    @include respond(big-phone) {
      justify-content: space-between;
    }
  }
  &__remove-check {
    position: relative;
    margin-left: 2rem;
    margin-right: 1rem;
    order: 1;
    width: 0;
    &::before {
      content: "X";
      cursor: pointer;
      color: $red;
      font-weight: 900;
      top: 0;
      left: 0;
      position: absolute;
      &:hover {
        color: $red-dark;
      }
    }
  }
  &__remove-check:checked,
  &__remove-check:checked+.phone {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}

.phone {
  display: flex;
  align-items: center;
  @include respond(md-phone) {
    flex: 1;
  }
  &__code {
    width: 5rem;
    margin-right: .5rem;
  }
  &__number {
    flex: 2;
  }
  &__main-phone {
    align-items: center;
    align-self: stretch;
    display: flex;
    font-size: 1.2rem;
    margin-left: 1.5rem;
    @include respond(big-phone) {
      margin-right: 4rem;
      margin-left: 2rem;
    }
  }
  &__radio {
    position: relative;
    width: 0;
    margin-right: 1rem;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      border: 2px solid $primary-color;
    }
  }
  &__radio:checked {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: .75rem;
      height: .75rem;
      border-radius: 50%;
      background-color: $primary-color;
    }
  }
}