@keyframes moveRight {
  0% {
    transform: translateX(100rem);
  }
  100% {}
}

@keyframes moveLeft {
  0% {
    transform: translateX(-500rem);
  }
  100% {
    transform: translateX(-1000rem);
  }
}

.slideshow {
  position: relative;
  background: $grey-light-2;
  padding: 0 20rem;
  z-index: 1000;
  display: flex;
  &__layout {
    height: 60vh;
    background: $white;
    flex: 1;
  }
  &__body {
    padding: 2rem 5rem;
  }
  &__figure {
    height: 100%;
  }
  &__figure-img {
    height: 100%;
  }
  &__title {
    font-size: 4rem;
    color: $secondary-color-dark;
  }
  &__subtitle {
    color: $grey-dark;
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  &__paragraph {
    color: $grey-dark-3;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
  }
  &__footer {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
  }
  &__button {
    border: none;
    background-color: $primary-color;
    border-radius: 5px;
    color: $white;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem 1.5rem;
    outline: none;
    border-bottom: 1.5px solid rgba($secondary-color-dark, .5);
    &:hover {
      border-bottom: 4px solid rgba($secondary-color-dark, .5);
    }
    &:active {
      border-bottom: none;
    }
  }
  &__check {
    position: absolute;
    visibility: hidden;
  }
  &__check:checked+.slideshow__layout,
  &__check:checked+[class^="slideshow__layout--"] {
    display: flex;
    flex: 1 0 100%;
    animation: moveRight .5s ease-in;
  }
  &__check:not(:checked)+.slideshow__layout,
  &__check:not(:checked)+[class^="slideshow__layout--"] {
    visibility: hidden;
    display: none;
  }
}

.slideshow__layout--2 {
  height: 60vh;
  background: $white;
  display: flex;
  flex-direction: column;
  position: relative;
  .slideshow__body {
    display: flex;
    flex-direction: column;
    order: 0;
    z-index: 2;
  }
  .slideshow__figure {
    height: 100%;
    order: 1;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  .slideshow__figure-img {
    height: 100%;
    width: 100%;
  }
}

.slideshow__layout--2 {
  height: 60vh;
  background: $white;
  .slideshow__body {
    display: flex;
    flex-direction: column;
    background: red;
    justify-content: flex-end;
    flex: 1;
    padding-bottom: 3rem;
  }
  .slideshow__figure {
    height: 100%;
  }
  .slideshow__figure-img {
    height: 100%;
  }
  .slideshow__title {
    color: $white;
  }
  .slideshow__subtitle {
    color: $white;
    font-weight: 400;
  }
  .slideshow__paragraph {
    display: none;
  }
  .slideshow__footer {
    background: pink;
    flex: 0;
    z-index: 2;
  }
}

/* 
.slideshow__layout--2 {
  position: relative;
  height: 60vh;
  flex-direction: column;
  .slideshow__body {
    order: 0;
  }
  .slideshow__figure {
    height: 100%;
    width: 100%;
    order: 1;
    position: absolute;
    z-index: -1;
  }
  .slideshow__figure-img {
    height: 100%;
    width: 100%;
  }
}

.slideshow__layout--3 {
  position: relative;
  height: 60vh;
  flex-direction: column;
  .slideshow__body {
    order: 0;
  }
  .slideshow__figure {
    height: 100%;
    width: 100%;
    order: 1;
    position: absolute;
    z-index: -1;
  }
  .slideshow__figure-img {
    height: 100%;
    width: 100%;
  }
}
 */